<html>
    <link href="style.css" rel="stylesheet" type="text/css">
<body>
    <h1>Welcome to the Club!</h1>
    New member
    Name:
    Email:
    Add CLear
    Members
    <table align="center">
        <tr>
           <th>#</th>
           <th>Name</th>
           <th>Email</th>
           <th>Registration date</th>
        </tr>
        <tr>
            <td>1</td>         
            <td>Andrii Puhachenko</td>
            <td>andrqxa@gmail.com</td>
            <td>16.06.2021</td>
        </tr>
    </table>



</body>
</html>