<html>
    <link href="style.css" rel="stylesheet" type="text/css">
<body>
    <h1>Welcome to the Club!</h1>

    <p>New member</p>

    <form name="user" method="post">
        <p><b>Name:</b>
         <input type="text" size="40">
        </p>
        <p><b>Email:</b>
            <input type="text" size="40">
        </p>
        <p><input type="submit" value="Add">
         <input type="reset" value="Clean"></p>
    </form>
    
    
    <p><b>Members</b></p>
    <table align="center">
        <tr>
           <th>#</th>
           <th>Name</th>
           <th>Email</th>
           <th>Registration date</th>
        </tr>
        {{range .Users}}
        <tr>
            <td>1</td>         
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Registration}}</td>
        </tr>
        {{end}}
    </table>



</body>
</html>